image/Service References/ImageService/ImageService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Network" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Network" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Picture">
    <xs:sequence>
      <xs:element minOccurs="0" name="current_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date_delete" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="date_upload" type="xs:dateTime" />
      <xs:element minOccurs="0" name="deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="have_miniature" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_owner" type="xs:int" />
      <xs:element minOccurs="0" name="start_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Picture" nillable="true" type="tns:Picture" />
</xs:schema>