image/Service References/ImageService/ImageService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58168/Images/ImageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Network.Images" />
  <xs:element name="UploadImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buffer" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_user" type="xs:int" />
        <xs:element minOccurs="0" name="access_token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Network.Images" minOccurs="0" name="UploadImageResult" nillable="true" type="q1:ImageClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadMiniature">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buffer" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="id_image" type="xs:int" />
        <xs:element minOccurs="0" name="urlid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_user" type="xs:int" />
        <xs:element minOccurs="0" name="access_token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadMiniatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Network.Images" minOccurs="0" name="UploadMiniatureResult" nillable="true" type="q2:ImageClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>